/*
//style-01
@brand-primary:         #2E525E;
@brand-highlight:       #029AA2;
@brand-dark:       		#0C191C;
*/
/*
//style-02
@brand-primary:         #007DBC;
@brand-highlight:       #0FAEFF;
@brand-dark:       		#1e1e1e;
*/
/*
//style-03
@brand-primary:         #FBBF3B;
@brand-highlight:       #FDDD3F;
@brand-dark:       		#333333;
*/
/*
//style-04
@brand-primary:         #FBBF3B;
@brand-highlight:       #FDDD3F;
@brand-dark:       		#333333;
*/
